body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    color: #737373;
    background-color: #2759a8;
    position: fixed;
  }


  
  .topnav a {
    float: left;
    display: block;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #2b548d;
    color:white;
    border: #004aad;
    border-radius: 5px;
  }
  
  .topnav a.active {
    background-color: #004aad;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .form{
    width: fit-content;
    padding:16px;
    margin: auto;
    background-color: #737373;
  }
  .img-responsive {
    width: 100%;
    height: 100%;

  }

  .footer{
    padding-block: 50px;

  }

  .footer_container{
    background-color: #2759a8;
    max-width: 1160px;
    margin: auto;
    padding: 0 20px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .img-responsive{
      width: 300px;;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .img-responsive{
      width:300px;
    }
  }
